/* RESET */
img {
    max-width: 100%;
}

/* HEADER */

header {
    height: 40px;
    background-color: #2c3f50;
    color: white;
}

header .row .col-2 .d-md-none a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: .1rem .4rem;
    border-radius: 3px;
}

header ul {
    list-style-type: none;
}

header ul li {
    margin-left: 1.5rem;
}

header ul li a {
    text-decoration: none;
    color: white;
}

/* /HEADER */



/* MAIN */

/* banner */
#banner {
    background-color: #1abc9d;
    color: white;
}

#banner hr {
    width: 20%;
    background-color: white;
    height: 3px;
    border-color: white;
    opacity: 1;
    max-width: 80px;
}

#banner img {
    max-width: 250px;
}

#banner p {
    font-size: .8rem;
}

@media screen and (min-width: 576px) {
    #banner p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 317px) {
    #banner p {
        font-size: .6rem;
    }
}
/* /banner */

/* portfolio */
#portfolio hr {
    width: 20%;
    background-color: #2c3d50;
    height: 3px;
    border-color: #2c3d50;
    opacity: 1;
    max-width: 80px;
}

#portfolio {
    color: #2c3d50;
}

#portfolio h2 {
    font-size: 1.2rem;
}

#portfolio .col-12 img {
    border-radius: 10px;
}
/* /portfolio */

/* about */
#about {
    background-color: #1abc9d;
    color: white;
}

#about hr {
    width: 10%;
    background-color: white;
    height: 3px;
    border-color: white;
    opacity: 1;
    max-width: 80px;
}

.about-p1, .about-p2 {
    padding: 0 2.5rem;
    width: 100%;
}

#about a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: .5rem .8rem;
    border-radius: 10px;
}

/* /about */

/* contact */
#contact .row .star hr {
    width: 10%;
    background-color: #2c3d50;
    height: 3px;
    border-color: #2c3d50;
    opacity: 1;
    max-width: 80px;
}

.send {
    text-decoration: none;
    color: white;
    background-color: #1abc9d;
    padding: .4rem .6rem;
    border-radius: 5px;
}
/* /MAIN */